@import "~@angular/material/theming";

@mixin header-component-theme($theme) {
  $primary: map-get($theme, primary);

  .nav-container {
    background-color: mat-color($primary);

    h2 {
      color: white;
    }

  }

}
