@import "~@angular/material/theming";

@mixin header-component-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  h1 {
    color: mat-color($primary);
    background-color: mat-color($background, hover);
  }

}
