<mat-card class="cat-card">
  <img mat-card-image src="{{ cat.pictureUrl }}" alt="Photo of a Shiba Inu" class="cat-image">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>{{ cat.title }}</mat-card-title>
      <mat-card-subtitle>{{ cat.date }}</mat-card-subtitle>
    </mat-card-header>
    <p>
      {{ cat.description | slice:0:255 }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="onLikeClick()">
      <mat-icon *ngIf="liked">favorite</mat-icon>
      <mat-icon *ngIf="!liked">favorite_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
