.nav-container {
  display: flex;
  align-items: center;
  padding: 8px 16px;

  img {
    width: 32px;
    height: 39px;
    outline: none;
  }

  img:hover {
    cursor: pointer;
  }

  h2 {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
  }

}

.nav-container > :nth-child(2) {
  margin-right: auto;
}
