.dashboard-container {
  min-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

@media screen and (min-width: 0px) {
  .dashboard-container {
    img {
      display: block;
      width: 150px;
      height: 150px;
    }
  }
}

@media screen and (min-width: 599.9px) {
  .dashboard-container {
    img {
      display: block;
      width: 300px;
      height: 300px;
    }
  }
}

@media screen and (min-width: 959.9px) {
  .dashboard-container {
    img {
      display: block;
      width: 450px;
      height: 450px;
    }
  }
}

@media screen and (min-width: 1279.9px) {
  .dashboard-container {
    img {
      display: block;
      width: 600px;
      height: 600px;
    }
  }
}

@media screen and (min-width: 1919.9px) {
  .dashboard-container {
    img {
      display: block;
      width: 750px;
      height: 750px;
    }
  }
}

@media screen and (min-width: 4999.99px) {
  .dashboard-container {
    img {
      display: block;
      width: 900px;
      height: 900px;
    }
  }
}
