.dashboard-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.dashboard-item {
  padding: 20px;
}

@media all and (max-width: 432px) {
  .dashboard-container {
    flex-flow: column wrap;
  }
}
