// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$primary: mat-palette($mat-indigo, 700, 300, 900);
$accent: mat-palette($mat-light-blue);
$warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$theme: mat-light-theme(
    $primary,
    $accent,
    $warn
);
