// Angular Material specific imports
@import "~@angular/material/theming";
@include mat-core();

// Base theme of the application.
@import "default-theme";

// Components theme
@import "app/core/components/header/header.component.scss-theme";

@mixin components-theme($theme) {
  @include header-component-theme($theme);
}

@include angular-material-theme($theme);
@include components-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
