// Angular Material specific imports
@import "~@angular/material/theming";

@include mat-core();

// Base theme of the application.
@import "default-theme";

// Components theme
@import "app/core/header/header.component.scss-theme";

@mixin components-theme($theme) {
  @include header-component-theme($theme);
}

@include angular-material-theme($theme);
@include components-theme($theme);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: map-get(map-get($theme, background), background);
}
